.emotion-check_wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;

    .emotion-check_header {
        height: 80px;
        font-size: 3em;
        text-align: center;
        justify-items: center;
    }

    .emotion-check {
        height: 400px;
        width: 100vw;
        display: grid;
        grid-template-rows: 1/-1;
        grid-template-columns: 15px [blue-s] 1fr [blue-e green-s] 1fr [green-e yellow-s] 1fr [yellow-e red-s] 1fr [red-e] 15px;
        grid-gap: 15px;
        border: 2px solid transparent;
    }

    .emotion-check {
        &_card {
        text-align: center;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 2em;
        font-weight: 600;
        }

        img {
            max-width: 90%;
            max-height: 90%;
            // justify-items: center;
            // align-self: center;

            &:hover {
                max-width: 100%;
                max-height: 100%;
                transition: 0.2s;
            }
        }

        &_blue {
            grid-column: blue-s/blue-e;
            background-color: $color-lightblue;
        }

        &_green {
            grid-column: green-s/green-e;
            background-color: $color-green;
        }

        &_yellow {
            grid-column: yellow-s/yellow-e;
            background-color: $color-yellow;
        }

        &_red {
            grid-column: red-s/red-e;
            background-color: $color-red;
        }
    }
}

// .emo-modal {

//     &_blue {
//         background-color: $color-lightblue;
//     }

//     &_green {
//         background-color: $color-green;
//     }

//     &_yellow {
//         background-color: $color-yellow;
//     }

//     &_red {
//         background-color: $color-red;
//     }    
// }
