.nav_wrapper {
    height: 100vh;
    width: 10vw;
    overflow: hidden;
    position: fixed;
    left: 0;

    display: flex;
    flex-direction: column;


    // display: grid;
    // grid-template-rows: 1fr;
    // grid-template-columns: 10px [left-s] 1fr  [left-e ctr-s] 1fr [ctr-e right-s] 1fr [right-e] 10px;
    // grid-gap: 5px;

    .nav-tile {
        width: 10vw;
        height: 10vw;
        border: 1px solid transparent;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 1rem;
        font-weight: 600;
        color: white;

        opacity: 50%;

        &_left {
            grid-column: left-s/left-e;
            background-color: $color-green;
        }

        &_ctr {
            grid-column: ctr-s/ctr-e;
            background-color: $color-lightblue;
        }

        &_right {
            grid-column: right-s/right-e;
            background-color: $color-purple;
        }
    }
}

